pipy/FlaskFarm/build/
pipy/FlaskFarm/dist/
pipy/FlaskFarm/FlaskFarm.egg-info/
pipy/FlaskFarm/flaskfarm/
pipy/FlaskFarm/.*/
pipy/FlaskFarm/pipy_token.txt
pipy/data*/
docker/alpine/
false/ 
tmp/
pipy_token.txt